html, body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: rgb(56, 56, 56);
    
}

/* Left Navigational Bar */

.navigation {
    position: sticky;
    top: 0px;
    float: left;
    background-color: rgb(255, 205, 205);
    width: 320px;
    
    
}

    .navImage{
        border: 3px solid black;
        width: 77%;
        padding: 1px;
        margin-top: 10%;
        margin-left:10%; 
    }

    .webTitle{
        font-size: x-large;
        color: black;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 5px;
        text-align: center;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }

    li {
        list-style-type: none;
        font-family: sans-serif;
        text-align: center;
        font-size: large;
        padding-top: 5%;
        border-top: 2px solid black;
        border-left: 0px;
        border-right: 0px;
        height: 40px;
    }

    li:hover {
        background-color: rgb(252, 186, 186);
    }

    a:hover, a:visited, a:link, a:active{
        text-decoration: none;
    }
    



/* Mediaboard */

.viewport {
    position: inherit;
    margin-left: 360px;
    padding-top: 0px;
    
}

    .imageDiv {
        position: relative;
        
    }

    .imageObject {
        width: 100%;
        margin-top: 40px;
        position: relative;
    }

        /* viewport columns */
        .col1{
            position: absolute;
            width: 23%;
        }

        .col2{
            position: absolute;
            width: 23%;
            margin-left: 25%;

        }

        .col3{
            position: absolute;
            width: 23%;
            margin-left: 50%;
        }

/* video / storyboard Media focus */
.vid-media{
    padding-top: 5%;
    width: 75%;
    margin-left: 10%;
}
.vid-media img{
    width: 100%;
}