html, body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: rgb(29, 29, 29);
    height: 100%;
}

/* Left Navigational Bar */

.navigation {
    position: sticky;
    top: 0px;
    float: left;
    background-color: rgb(177, 177, 177);
    width: 320px;
}

    .navImage{
        width: 80%;
        padding-top: 45px;
        padding-left:10%; 
    }

    .webTitle{
        font-size: x-large;
        color: black;
        font-family: sans-serif;
        padding-top: 8px;
        padding-bottom: 40px;
        text-align: center;
    }

    ul {
        padding: 0px;
        margin: 0px;
        border: 1px solid black;
    }

    li {
        list-style-type: none;
        text-align: center;
        font-size: large;
        border: 1px solid black;
        border-left: 0px;
        border-right: 0px;
        height: 40px;
    }


/* Mediaboard */

.viewport {
    position: inherit;
    margin-left: 400px;
    padding-top: 35px;
    
}

    .imageDiv {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        
    }

    .imageObject {
        width: 30%;
        position: relative;
    }