html, body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-image: linear-gradient(to right, black, #6a4162, #6a4162);
}

/* Left Navigational Bar */

.navigation {
    position: sticky;
    top: 0px;
    float: left;
    background-color: #f39db6;
    width: 15%;
    
    
}

    .navImage{
        border: 3px solid black;
        width: 80%;
        padding: 1px;
        margin-top: 10%;
        margin-left:8%; 
    }

    .webTitle{
        font-size: x-large;
        color: black;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 5px;
        text-align: center;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }

    li {
        list-style-type: none;
        font-family: sans-serif;
        text-align: center;
        font-size: medium;
        padding-top: 5%;
        border-top: 2px solid black;
        border-left: 0px;
        border-right: 0px;
        height: 40px;
    }

    .css-char{
        background-color: #ff759c;
    }

    .css-char:hover{
        background-color: #fc5886;
    }

    .css-life{
        background-color: #ff8aab;
    }

    .css-life:hover{
        background-color: #fd739a;
    }

    .css-anim{
        background-color: #ff99b6;
    }

    .css-anim:hover{
        background-color: #fd80a3;
    }

    .css-back{
        background-color: #fda9c1;
    }

    .css-back:hover{
        background-color: #ff90af;
    }

    .css-model{
        background-color: #ffbed0;
    }

    .css-model:hover{
        background-color: #ffa3bd;
    }

    .css-about{
        background-color: #fccbd9;
        border: 2px solid black;
        
        border-left: 0px;
        border-right: 0px;
    }

    .css-about:hover{
        background-color: #ffa7c0;
    }

    #navEnd{
        background-color: #fccbd9;
    }

    a:hover, a:visited, a:link, a:active{
        text-decoration: none;
    }
    



/* Mediaboard */

.viewport {
    position: absolute;
    width: 80%;
    margin-left: 15%;
    padding-left: 5%;
    padding-top: 0px;
    
    
}

    .imageDiv {
        position: relative;
        
    }

    .imageObject {
        width: 100%;
        margin-top: 40px;
        position: relative;
        border: 2px solid black;
    }

        /* viewport columns */
        .col1{
            position: relative;
            width: 30%;
            float: left;
            border-bottom: 10px;
        }

        .col2{
            position: relative;
            width: 30%;
            float: left;
            margin-left: 2%;
        }

        .col3{
            position: relative;
            width: 30%;
            float: left;
            margin-left: 2%;
        }

/* video / storyboard Media focus */
.vid-media{
    padding-top: 2%;
    width: 75%;
    padding-left: 10%;
    padding-right: 15%;
    
}
.vid-media img{
    width: 100%;
}